@import url('../common.css');

.contentHeader {
    display: flex;
    justify-content: space-between;
}

.checkTemplateThead th,
.checkTemplateTbody td {
    text-align: center;
    vertical-align: middle;
}

.modalMiddleTitle {
    font-size: 1.12rem;
    font-weight: 600;
}

.checkTemplateTbody a {
    font-size: 1.12rem;
    font-weight: 600;
}