@import url('../common.css');

.contentHeader {
    display: flex;
    justify-content: space-between;
}

.RTIThead th,
.RTITbody td {
    text-align: center;
    vertical-align: middle;
}

.modalMiddleTitle {
    font-size: 1.12rem;
    font-weight: 600;
}

.title1 span {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 0.75rem;
}