@import url('../common.css');

.contentHeader{
    display: flex;
    justify-content: space-between;
}

.roleTemplateThead th,
.roleTemplateTbody td {
    text-align: center;
    vertical-align: middle;
}

.modalMiddleTitle {
    font-size: 1.12rem;
    font-weight: 600;
}

.roleTemplateTbody a {
    font-size: 1.12rem;
    font-weight: 600;
}