/* 상단 제목과 버튼을 양쪽 끝으로 배치 */
.titleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

/*카드 헤더*/
.card-header{
    font-size: 1rem;
    font-weight: 600;
}

.mapArea{
    min-height: 14rem;
    border-radius: 0.5rem;
}