@import url('../common.css');

.titleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pjListHead th,
.pjListTbody td {
    text-align: center;
    vertical-align: middle;
}