.nav-link {
    background-color: #2f4673;
    color: white;
    width: 18%;
    padding : 0.6rem 0;
    text-align: center;
    font-weight: bold;
}

.nav-link.active {
    background-color: #949ba6;
    color: black;
}

#projectNav > a {
    margin : 0 0.25rem ;
}