@import url('../common.css');

.nav-link {
    background-color: #2f4673;
    color: white;
    width: 18%;
    padding : 0.6rem 0;
    text-align: center;
    font-weight: bold;
}

.nav-link.active {
    background-color: #2F4673;
    color: white;
    font-weight: bold;
}

.nav-link:not(.active) {
    background-color: #f8f9fa;
    color: #6c757d;
}

#projectNav > a {
    margin : 0 0.25rem ;
}
