.noto-sans-kr {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans KR", sans-serif;
}
    
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.indexContainer {
    margin: 0.5rem auto;
    max-width: 1280px;
}

.mainContent {
    padding: 0.5rem;
}

.ContentBox {
    border: 0.12rem solid #efefef;
    border-radius: 1.25rem;
    padding: 1rem;
}

.title1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* 신연우 info.jsp 모달 쪽 css */
/* ===== 읽기전용 표시(흑백) : 모달의 readonly 인풋 ===== */
#bizEditForm input[readonly]{
  background-color: #f8f9fa; /* 밝은 회색 배경 */
  color: #6c757d;            /* 회색 텍스트 */
  opacity: .9;
}